.content-home {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.content-home-h {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #a31154;
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

/* .textAgency {
  position: absolute;
  width: _width px;
  line-height: _height px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: _height px;
} */



