* {
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #a31154;
    text-decoration: none;
}

.item-content-p:hover {
    color: #a31154;
    text-decoration: none;  
}

.container {
    padding: 30px;
}

.footer{
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: space-evenly;
}

.item-content-p, .item-content {
    display: flex;
}

h2 {
    padding-bottom: 15px;
}
